*.zip
Dataset/
train_single_patches/
valid_single_patches/
__pycache__
network/__pycache__/
*.pth
real_test.py
modelstates/
validation_out_cam/
test_out_cam/
testing.ipynb
heatmap/
test_results/
validation_results/